h1
{
    text-align: center;
    font-family: cursive;
    font-size: 60px;
    color: rgb(4, 187, 194);
}

h3
{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    color: black;
}

header
{
    background-image: url(Index/index\ 1.jpg);
}

.fifth-face
{
display: flex;
justify-content: space-between;
}

.fifth-face .column
{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.fifth-face .column:nth-child(2)
{
    justify-content: center;
}

.fifth-face .column:nth-child(6)
{
    justify-content: center;
}

#img
{
    width: 350px;
    border-radius: 59px;
    box-shadow: 6px 6px 5px rgb(170, 120, 170);
}

.video-container
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
}

#menu
{
    list-style-type: none;
    display: inline-block;
    color: rgb(1, 25, 26);
    font-size: 40px;
    padding: 6px;
    text-decoration: none;
}    

#menu :hover
{
    color: rgb(168, 9, 9);
}    

nav ul li
{
    color: rgb(6, 6, 102);
    background-color: rgb(4, 187, 194); border-radius: 45px;
}

nav
{
    margin-left: 170px;
}

main ul
{
    list-style-type: none;
}